
h1 {font-family: optima; font-size: 500%; text-align: center;}
h2 {font-family: optima; font-size: 200%; text-align: center;}

p {font-family: optima; font-size:120%; margin: 20px; padding: 10px;}
a {font-family: optima; font-size: 200%; text-align: center; padding: 10px;}

img {border: 10px groove lightsalmon; margin: 20px; padding: 10px;}
	

